<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Order page - Pizza Size</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>

<header>
    <h1>Pizza Order page - Select Pizza Size </h1>
</header>
<section>
    <h2>Choose pizza size:</h2>
    <form method="post">
        <input type="radio" name="pizza_size" value="Small"> Small <br/>
        <input type="radio" name="pizza_size" value="Medium"> Medium <br/>
        <input type="radio" name="pizza_size" value="Big"> Big <br/>
        <input type="radio" name="pizza_size" value="Family"> Family <br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Pizza Type </b></td>
            <td th:text="${pizza}"></td>
        </tr>
    </table>
</aside>



   <!-- <h2>Select the size of your pizza</h2>
    <form method="get" action="/PizzaOrder.do">
        <input type="radio" th:value="small" th:text="Small">
        <input type="radio" th:value="medium" th:text="Medium">
        <input type="radio" th:value="large" th:text="Large">
        <br>
        <input type="submit" th:value="Submit">
    </form>
-->
</body>
</html>